@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    color: #F9FAF8;
	font-size: 48px;
    text-align: center;
    background-color: #1F2937;
}

.hero {
    display: flex;

}
.hero-lef {
    display: flex;
    flex: 1;
}
.hero-lef {
    display: flex;
    flex: 1;
}
